
.main {
  outline: 1px solid black;
  width: 500px;
  float: center;
  height: 1000px;
}

.left-bar {
  outline: 1px solid black;
  padding-left: 50px;
  width: 300px;
  float: left;
  height: 100%;
}

.chart-holder {
  width: 900px;
  height: 900px;
}

table {
  outline: 1px solid black;
}
